.users {
  .users-title {
    font-size: 42px;
    text-align: center;
  }
  .users-grid {
    display: flex;
    flex-wrap: wrap;
  }
}

.new-post {
  .new-post-title {
    font-size: 42px;
    text-align: center;
  }
  form {
    display: grid;
    grid-gap: 14px;
  }
}
